*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
h1{
text-align: center;
color: white;
font-size: 50px;
margin-top: 50px;
text-transform: uppercase;

}
main{
display: flex;
padding: 100px 0;
justify-content: space-around;
gap: 50px;
flex-wrap: wrap-reverse;
}
img{
    height: 500px;
width: 500px;
object-fit: cover;
border-radius: 50%;
border: 5px solid white;
}
div{
display: flex;
flex-direction: column;
gap: 30px;
h3{
color: white;
font-size: 25px;

}
a{
color: dodgerblue;
background-color: white;
text-decoration: none;
font-size: 20px;
padding: 10px;
font-weight: 700;
border-radius: 12px;
}
}